@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loading__circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ballAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

@font-face {
  font-family: "Shrikhand";
  src: local("Shrikhand"), local("Shrikhand"), url(https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap) format("woff2");
}
.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}
.header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: black;
}
.header--withBackArrow {
  position: relative;
}

.hook {
  padding: 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);
}
.hook__title {
  margin: 0;
}
.hook__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}
.hook__button {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.hook__button:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.hook__button a {
  text-decoration: none;
  color: inherit;
}
.hook__img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: center;
}

.functioning {
  padding: 2rem 1rem;
}
.functioning__title {
  margin: 0 0 1rem 0;
}
.functioning__steps {
  margin: 0;
  padding: 0;
  counter-reset: compteListe;
}
@media (min-width: 64rem) {
  .functioning__steps {
    display: flex;
  }
}
.functioning__step {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
@media (min-width: 64rem) {
  .functioning__step {
    flex: 1;
    margin: 0 0 0 2rem;
  }
}
.functioning__step::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
.functioning__icon {
  margin-right: 1rem;
  color: #7e7e7e;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.restaurantContainer {
  display: unset;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title {
  font-family: "Shrikhand", "cursive";
}
.menu__button {
  height: 2rem;
  width: 2rem;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #000;
}
.menu__button:hover::before {
  opacity: 1;
}
.menu__button::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.menu__like {
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.menu__button:hover .menu__like--nobg {
  opacity: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .flex {
    flex-direction: column;
  }
}

.restaurantMenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
@media (min-width: 64rem) {
  .restaurantMenu {
    width: 100%;
  }
}
.restaurantMenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.restaurantMenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.mealCard {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  opacity: 0;
  animation: appear forwards 1s;
}
.mealCard--1 {
  animation-delay: 0.5s;
}
.mealCard--2 {
  animation-delay: 1s;
}
.mealCard--3 {
  animation-delay: 1.5s;
}
.mealCard--4 {
  animation-delay: 2s;
}
.mealCard--5 {
  animation-delay: 2.5s;
}
.mealCard--6 {
  animation-delay: 3s;
}
.mealCard--7 {
  animation-delay: 3.5s;
}
.mealCard--8 {
  animation-delay: 4s;
}
.mealCard--9 {
  animation-delay: 4.5s;
}
.mealCard--10 {
  animation-delay: 5s;
}
.mealCard__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.mealCard__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mealCard__subtitle {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mealCard__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.mealCard__validation {
  width: 4rem;
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.mealCard:hover .mealCard__validation {
  margin-right: -1rem;
}
.mealCard__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.mealCard:hover .mealCard__wrapIcon {
  transform: rotate(0);
}
.mealCard__icon {
  color: #99E2D0;
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listLi {
  margin: 0.5rem 0;
}
.footer__listLi:first-child {
  margin-top: 0;
}
.footer__listLi:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  animation: loader 0.5s 5s both;
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}
.loading__circle {
  animation: loading__circle 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  position: absolute;
  transform-origin: 40px 40px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 4px;
}
.loading__circle::after {
  content: " ";
  display: block;
  margin: -4px 0 0 -4px;
}
.loading__circle--1 {
  animation-delay: -0.036s;
  background-color: #9356DC;
}
.loading__circle--1::after {
  top: 63px;
  left: 63px;
}
.loading__circle--2 {
  animation-delay: -0.072s;
  background-color: #FF79DA;
}
.loading__circle--2::after {
  top: 68px;
  left: 56px;
}
.loading__circle--3 {
  animation-delay: -0.108s;
  background-color: #99E2D0;
}
.loading__circle--3::after {
  top: 71px;
  left: 48px;
}
.loading__circle--4 {
  animation-delay: -0.144s;
  background-color: #9356DC;
}
.loading__circle--4::after {
  top: 72px;
  left: 40px;
}
.loading__circle--5 {
  animation-delay: -0.181s;
  background-color: #FF79DA;
}
.loading__circle--5::after {
  top: 71px;
  left: 32px;
}
.loading__circle--6 {
  animation-delay: -0.216s;
  background-color: #99E2D0;
}
.loading__circle--6::after {
  top: 68px;
  left: 24px;
}
.loading__circle--7 {
  animation-delay: -0.252s;
  background-color: #9356DC;
}
.loading__circle--7::after {
  top: 63px;
  left: 17px;
}
.loading__circle--8 {
  animation-delay: -0.288s;
  background-color: #FF79DA;
}
.loading__circle--8::after {
  top: 56px;
  left: 12px;
}

.localization {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: rgb(243, 243, 243);
  font-size: 1.2rem;
  position: relative;
}
.localization__icon {
  margin-right: 1rem;
}
.localization__text {
  font-weight: 700;
}

.cards {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  row-gap: 2rem;
}
@media (min-width: 64rem) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}
@media (min-width: 64rem) {
  .card {
    flex: 1;
    width: 48%;
  }
}
.card__img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card__stamp {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: inherit;
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.card__title {
  margin: 0 0 0.25rem 0;
}
.card__subtitle {
  margin: 0;
}
.card__like {
  background-color: white !important;
}
.card__button {
  height: 2rem;
  width: 2rem;
  background-color: black;
  border: 0 solid transparent;
  padding: 0;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
