.cards {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    row-gap: 2rem;
    @media (min-width: 64rem) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.card {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    @media (min-width: 64rem) {
        flex: 1;
        width: 48%;
    }

    &__img {
        height: 12rem;
        width: 100%;
        border: 0 solid transparent;
        border-radius: 1rem 1rem 0 0;
        box-shadow: none;
        object-fit: cover;
    }

    &__stamp {
        background-color: $color-tertiary;
        color: darken($color-tertiary, 50%);
        padding: 0.5rem;
        border-radius: 0.125rem;
        position: absolute;
        top: 1rem;
        right: 0.75rem;
    }

    &__footer {
        padding: 1rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: inherit;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    &__title {
        margin: 0 0 .25rem 0;
    }

    &__subtitle {
        margin: 0;
    }

    &__like {
        background-color: white !important;
    }

    &__button {
        height: 2rem;
        width: 2rem;
        background-color: black;
        border: 0 solid transparent;
        padding: 0;
        position: relative;
    }
}
