.footer {
    background-color: #353535;

    .container {
        display: flex;
        flex-direction: column;
        padding: $omfPadding;
    }

    &__logo {
        color: white;
        font-family: "Shrikhand", "cursive";
        margin: 0;
        font-size: 1.2rem;
        margin-bottom: $omfPadding;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__listLi {
        margin: 0.5rem 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__icon {
        width: 1.2rem;
        margin-right: 0.5rem;
    }
}
